main {
  background: linear-gradient(#b1585e, rgb(145, 53, 55),rgb(130, 53, 58),rgb(114, 35, 35),rgb(84, 25, 34), rgb(75, 14, 14));
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
}

#headerOfResults {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: space-evenly;
}

#currentUserResults {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: linear-gradient(#b1585e, rgb(145, 53, 55),rgb(130, 53, 58),rgb(114, 35, 35),rgb(84, 25, 34), rgb(75, 14, 14));
  padding: 20px;
  border-radius: 10px;
}

img,
#currentUserResults {
  margin: 10px;
  width: 50%;
}


h1,
h3 {
  margin: 0;
  text-align: center;
  font-weight: normal;
}

#name {
  font-size: 33px;
}

#scoreNumber {
  /* color: #ea181e; */
  font-size: 22px;
  font-weight: bold;
}

#answersSection {
  width: 50%;
}

#answerComparisonBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(124, 120, 120, 0.267);
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
}

.question {
  font-size: 20px;
  font-weight: bold;
}

#correctAnswer {
  font-size: 18px;
  color: #00b3e8;
}

#usersAnswer {
  font-style: italic;
  background: rgb(172, 112, 48);
  font-size: 14px;
}

#scoreBoardButton,
#redoQuizButton {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  width: 30%;
  padding: 10px 0;
  border: none;
  border-radius: 10px;
  margin: 10px;
  background: rgb(250, 213, 209);
}

#redoQuizButton {
  background: rgb(250, 213, 209);
}

#scoreBoardButton:hover,
#redoQuizButton:hover {
  background: rgb(86, 83, 150);
}
